In [1]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
#Utilizar un label_encoder diferente por cada columna categorica que queramos pasar a numerica

In [2]:
data = ["paris", "paris", "tokyo", "amsterdam"]
le.fit(data)

LabelEncoder()

In [3]:
le.transform(data)

array([1, 1, 2, 0])

In [4]:
list(le.classes_)

['amsterdam', 'paris', 'tokyo']

In [5]:
#Pasar de categorica a numerica
le.transform(["tokyo", "tokyo", "paris"])

array([2, 2, 1], dtype=int64)

In [6]:
#pasar de numerica a categorica 
list(le.inverse_transform([2, 2, 1]))

['tokyo', 'tokyo', 'paris']