### T-sne, otro algoritmo de reducción de dimensionalidad

#### ¿Para qué otro? Este algoritmo podría ofrecer un mejor rendimiento que utilizar la clase de scikit-learn PCA() y así aumentar el score. También, podría no hacerlo. Es decir, es una herramienta más para usar.

In [1]:
import numpy as np
import pandas as pd
from sklearn.manifold import TSNE
X = np.array([[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 1]])

df = pd.DataFrame(data=X)
df

   0  1  2
0  0  0  0
1  0  1  1
2  1  0  1
3  1  1  1

In [2]:
X_embedded = TSNE(n_components=2).fit_transform(df.values)
X_embedded.shape

(4, 2)

In [3]:
df2 = pd.DataFrame(data=X_embedded)
df2

           0          1
0  54.868145  53.381798
1   6.018448 -23.770483
2  -8.133495  39.230389
3  69.019661  -9.619564