# Python | day 1 | variables

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

### Exercise 1.

1. Write a python comment saying _'My very first python code:'_

In [1]:
#Intento 1
#'My very first python code:'

2. Declare a **first name** variable and assign a value to it

In [2]:
#Intento 1
first_name = "Mar"
first_name

'Mar'

3. Declare a **last name** variable and assign a value to it

In [57]:
#Intento 1
last_name = "Delgado"
print(last_name)

Delgado

4. Declare a **full name** variable and assign a value to it

In [67]:
#Intento 1
full_name = "Mar Delgado Domínguez"
print(full_name)

Mar Delgado Domínguez

5. Declare a **country** variable and assign a value to it

In [71]:
#Intento 1
country ="España"
country

'España'

6. Declare a **city** variable and assign a value to it

In [69]:
#Intento 1
city ="Madrid"
city

'Madrid'

7. Declare an **age** variable and assign a value to it

In [70]:
#Intento 1
age = 26
age

26

8. Declare a **year** variable and assign a value to it

In [77]:
#Intento1
year = 2020
year

2020

9. Declare a variable **is_married** and assign a value to it

In [82]:
#Intento 1
is_married = "no"
is_married

'no'

10. Declare a variable **is_true** and assign a value to it

In [81]:
#Intento 1
is_true = 1
is_true

1

11. Declare a variable **is_light_on** and assign a value to it

In [80]:
#Intento 1
is_light_on = "light"
is_light_on

'light'

## Exercise 2. 

1. Check the data type of all your variables using `type()` built-in function

In [65]:
#Intento 5
type((first_name), (last_name))

TypeError: type() takes 1 or 3 arguments

In [74]:
#intento 6
a= type(first_name)
print(a)
type(last_name)
print(type)
type(full_name)
print(type)
type(country)
print(type)
type(city)
print(type)
type(age)
print(type)
type(year)
print(type)
type(is_married)
print(type)
type(is_true)
print(type)
type(is_light_on)
print(type)

<class 'str'>
<class 'type'>
<class 'type'>
<class 'type'>
<class 'type'>
<class 'type'>

NameError: name 'year' is not defined

In [78]:
#Intento 7
a= type(first_name)
b= type(last_name)
c= type(full_name)
d= type(country)
e = type(city)
f= type(age)
g = type(year)
h = type(is_married)
i = type(is_true)
j = type(is_light_on)
print(a, b, c, d, e, f, g, h, i, j)

NameError: name 'is_married' is not defined

In [87]:
#intento 8
a= type(first_name)
b= type(last_name)
c= type(full_name)
d= type(country)
e= type(city)
f = type(age)
g = type(year)
h = type(is_married)
i = type(is_true)
j = type(is_light_on)
print(a, b, c, d, e, f, g, h, i, j)

<class 'str'> <class 'str'> <class 'str'> <class 'str'> <class 'str'> <class 'int'> <class 'int'> <class 'str'> <class 'int'> <class 'str'>

In [ ]:
type(first_name)
type(last_name)
type(full_name)
type(country)
type(city)
type(age)
type(year)
type(is_married)
type(is_true)
type(is_light_on)
first_name, last_name, full_name, country, city, age, year, is_married, is_true, is_light_on

In [23]:
#Intento 1
type(first_name)
type(last_name)
type(full_name)
type(country)
type(city)
type(age)
type(year)
"""#Intento 2
type(first_name, last_name, full_name, country, city, age, year, is_married, is_true, is_light_on)"""

#Intento 3
type(first_name, last_name, full_name)
#Intento 4
type(first_name, last_name, full_name, country, city, is_married, is_true, is_light_on)
#Intento 5
type(first_name)
type(last_name)
type(full_name)
type(country)
type(city)
type(age)
type(year)
type(is_married)
type(is_true)
type(is_light_on)
print(type)

TypeError: type.__new__() argument 2 must be tuple, not str

Turn the variable **age**, which should be *integer*, into type *float*. This action is known as cast a variable.

In [25]:
"""#Intento 1
float(age)
float"""
#Intento 2
age_float = float(age)
age_float

26.0

2. Using the `len()` built-in function find the length of your first name

In [32]:
#Intento 1
first_name_len = len(first_name)
first_name_len
#PREGUNTAR POR LOS COMENTARIOS CON 3 COMILLAS

3

3. Compare the length of your first name and your last name

In [61]:
#Intento 1 (AL PRINCIO NO ME COGIA EL VALOR QUE LE DI A LAST NAME)
first_name = "Mar"
last_name = "Delgado"
last_name_len = len(last_name)
print(last_name_len)

7

In [62]:
ln = len(first_name) == len(last_name)
ln

False

4. Declare 5 as **num_one** and 4 as **num_two**

In [88]:
#Intento 1
num_one = 5
num_two = 4

5. Add **num_one** and **num_two** and assign the value to a variable **_total**

In [10]:
#Intento 1
_total = (num_one + num_two)
print(_total)

9

6. Subtract num_two from num_one and assign the value to a variable _diff

In [12]:
#Intento 1
_diff = num_two - num_one
_diff

-1

7. Multiply **num_two** and **num_one** and assign the value to a variable **_product**

In [13]:
#Intento 1
_product = num_two * num_one
_product

20

8. Divide **num_one** by **num_two** and assign the value to a variable **_division**

In [14]:
#Intento 1
_division = num_one / num_two
_division

1.25

9. Use modulus division to find **num_two** divided by **num_one** and assign the value to a variable **_remainder**

In [18]:
"""
#Intento 1
_remainder = num_two // num_one
print(_remainder)
"""
#Intento 2 (Creo que modulus division se refiere al porcentaje, esta seria mi opción válida)
_remainder = num_two % num_one
print(_remainder)

4

10. Calculate **num_one** to the power of **num_two** and assign the value to variable **_exp**

In [17]:
#Intento 1
_exp = num_one**num_two
_exp

625

11. Find floor division of **num_one** by **num_two** and assign the value to a variable **_floor_division**

In [19]:
#Intento 1
_floor_division = num_one // num_two
_floor_division

1

## Bonus track.

In [ ]:
12. The radius of a circle is 30 meters. 
    Calculate the area of a circle and assign the value to a variable **area_of_circle**

In [25]:
radius = 30
area_of_circle = math.pi * (radius)**2
area_of_circle

2827.4333882308138

13. Calculate the circumference of a circle and assign the value to a variable **circum_of_circle**

In [26]:
diametro = 2* radius
diametro
#¿saldria la operación conjunta, sin ejecutar primero el diametro?

60

In [27]:
circum_of_circle = math.pi* diametro
circum_of_circle

188.49555921538757

14. Take radius as user input and calculate the area.

In [50]:
print("Calculate the area")
radius_user = int (input("Enter the radius: "))
print("the radius is: ", radius_user)
area = math.pi * (radius_user)**2
print("The area is: ", area)

Calculate the area
the radius is:  30
The area is:  2827.4333882308138

15. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

In [1]:
print("Fill in your personal information ")
fn = input("First Name")
print("First Name:", fn)
ln = input("Last Name")
print("Last Name:", ln)
cn = input("Country")
print("Country:", cn)
ag = int(input("Age"))
print("Age:", ag)

Fill in your personal information
First Name: Mar
Last Name: Delgado
Country: España
Age: 22

16. What is a reserved word in Python? Run `help('keywords')` to check for the reserved words.

In [55]:
help('keywords')
#Las que cumplen alguna función y no se pueden o deben asignar como variables

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

**Well done!**

![h](https://i.pinimg.com/originals/11/b4/20/11b420fbf1595be3056ad6355277933c.jpg)

In [3]:
itulo

NameError: name 'itulo' is not defined