# Python | day 2 | collections

List, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp
    
    Thanks Antonio!

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 
    - 4 differents lists containing the names of the classmates sitting on each table of the class plus the ones following the class on remote.  
    
If you're not in class anymore and you don't remember how the class was distributed, use the names of your classmates and make 4 different lists with them.

Print both created lists.

In [23]:
#Intento1
student_list = ["Alfonso", "Alex", "Anais", "Antonio", "Ariadna", "Clara", "Daniel", "Estela", "Javier", "Javier Olcoz", "Juan", "Kapil", "Leonardo", "Ma", "María", "Marta", "Miguel", "Miguel Merry", "Noya", "Roberto", "Xeles"]
l = len(student_list)
print(student_list)
print(l)

['Alfonso', 'Alex', 'Anais', 'Antonio', 'Ariadna', 'Clara', 'Daniel', 'Estela', 'Javier', 'Javier Olcoz', 'Juan', 'Kapil', 'Leonardo', 'Ma', 'María', 'Marta', 'Miguel', 'Miguel Merry', 'Noya', 'Roberto', 'Xeles']
21

In [24]:
l/4

5.25

In [25]:
lista1 = student_list[0:5]
lista2 = student_list[5:10]
lista3 = student_list[10:15]
lista4 = student_list[15:]
print(lista1, lista2, lista3, lista4)

['Alfonso', 'Alex', 'Anais', 'Antonio', 'Ariadna'] ['Clara', 'Daniel', 'Estela', 'Javier', 'Javier Olcoz'] ['Juan', 'Kapil', 'Leonardo', 'Ma', 'María'] ['Marta', 'Miguel', 'Miguel Merry', 'Noya', 'Roberto', 'Xeles']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [26]:
empty_list = []
empty_list

[]

2. Create a list with 5 items, call it **my_list**

In [2]:
my_list = ["Campo", "Positiva", "Coche", "Amor", "Perro" ]
my_list

['Campo', 'Positiva', 'Coche', 'Amor', 'Perro']

3. Find the length of **my_list**

In [28]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [3]:
#intento 1
my_list[0]
my_list[2]
my_list[-1]

'Perro'

In [30]:
#Intento2
my_list[0]
my_list[2]
my_list[-1]

'Perro'

In [31]:
#Intento3
my_list.remove(my_list[0])
my_list

['Positiva', 'Coche', 'Amor', 'Perro']

In [32]:
#Intento4
my_list = ["Campo", "Positiva", "Coche", "Amor", "Perro" ]
my_list

['Campo', 'Positiva', 'Coche', 'Amor', 'Perro']

In [33]:
my_list.remove(my_list[1])
my_list

['Campo', 'Coche', 'Amor', 'Perro']

In [34]:
#Intento5
my_list = ["Campo", "Positiva", "Coche", "Amor", "Perro" ]
print(my_list)
my_list.remove(my_list[1])
print(my_list)
my_list.remove(my_list[3])
my_list

['Campo', 'Positiva', 'Coche', 'Amor', 'Perro']
['Campo', 'Coche', 'Amor', 'Perro']

['Campo', 'Coche', 'Amor']

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [35]:
#Intento1
name = "Mar"
age = 26
height = 70
country = "España"
python_version = 3.9
print(name, age, height, country, python_version)

Mar 26 70 España 3.9

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [36]:
#intento1
mixed_data_types = [name, age, height, country, python_version]
mixed_data_types

['Mar', 26, 70, 'España', 3.9]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [37]:
#Intento1 
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [38]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [39]:
len(it_companies)

7

11. Print *Google*

In [40]:
it_companies[1]

'Google'

10. Print the first, middle and last company

In [41]:
#Intento 1
it_companies.remove(it_companies[1])
print(it_companies)
it_companies.remove(it_companies[2])
print(it_companies)
it_companies.remove(it_companies[4])
print(it_companies)
it_companies.remove(it_companies[5])
print(it_companies)

['Facebook', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Microsoft', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Microsoft', 'IBM', 'Oracle']

IndexError: list index out of range

In [44]:
#Intento 2
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [45]:
it_companies.remove(it_companies[1])
print(it_companies)
it_companies.remove(it_companies[1])
print(it_companies)
it_companies.remove(it_companies[2])
print(it_companies)
it_companies.remove(it_companies[2])
print(it_companies)

['Facebook', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Apple', 'Oracle', 'Amazon']
['Facebook', 'Apple', 'Amazon']

11. Assign a new value to the last element of the list

In [46]:
"""#Intento 1
it_companies.append(it_companies("twitter"))
print(it_companies)"""
#Intento2
it_companies.append("twitter")
print(it_companies)

['Facebook', 'Apple', 'Amazon', 'twitter']

12. Print the list after modifying one of the companies

In [45]:
#intento1
it_companies.replace("Apple", "Linkedin")
it_companies

AttributeError: 'list' object has no attribute 'replace'

In [5]:
#Intento 2 ¿porque no funciona replace?
new_companies = it_companies.replace("Apple", "Linkedin")
print(new_companies)

AttributeError: 'list' object has no attribute 'replace'

In [47]:
#intento3
it_companies[1] = "Linkedin"
it_companies
#tambien se puede modificar con la funcion .insert()

['Facebook', 'Linkedin', 'Amazon', 'twitter']

## Bonus track.

13. Add an IT company to **it_companies**

In [8]:
#intento1 sin utilizar append
it_companies + "SAP"
it_companies

TypeError: can only concatenate list (not "str") to list

In [48]:
#Intento 2 aunque aqui el valor no se guarda, por lo que si quiero que se guarde en it_companies tendria que utilizar append
it = ["SAP"]
it_companies + it

['Facebook', 'Linkedin', 'Amazon', 'twitter', 'SAP']

14. Check if *Apple* exists in the **it_companies** list.

In [13]:
#Intento1 ¿porque no funciona find?
it_companies.find("Apple")
print(it_companies)

AttributeError: 'list' object has no attribute 'find'

In [49]:
#Intento2
"Apple" in it_companies

False

15. Sort the list using `sort()` method

In [50]:
#Intento1 el método sort ordena alfabeticamente
it_companies.sort()
it_companies

['Amazon', 'Facebook', 'Linkedin', 'twitter']

16. Reverse the list in descending order using `reverse()` method

In [51]:
#Intento 1 ordena la lista en orden descendente
it_companies.reverse()
it_companies

['twitter', 'Linkedin', 'Facebook', 'Amazon']

17. Slice out the first 3 companies from the list

In [52]:
it_companies.append("SAP")
print(it_companies)

['twitter', 'Linkedin', 'Facebook', 'Amazon', 'SAP']

In [62]:
it_companies = ['twitter', 'Linkedin', 'Facebook', 'Amazon', 'SAP']
it_companies

['twitter', 'Linkedin', 'Facebook', 'Amazon', 'SAP']

In [63]:
#intento1 (esto no guarda el valor, mi lista sigue siendo la anterior)
it_companies[3:]

['Amazon', 'SAP']

18. Remove the last IT company from the list

In [60]:
#Intento3 
it_companies.remove(it_companies[-1])
print(it_companies)

['twitter', 'Linkedin', 'Facebook', 'Amazon']

In [20]:
#intento1
it_companies.remove(1)
it_companies

ValueError: list.remove(x): x not in list

In [21]:
#intento 2, me estaba fijando en otra lista que no ha guardado el valor. 
it_companies.remove(it_companies[1])
print(it_companies)

['twitter', 'Facebook', 'Amazon', 'SAP']

19. Remove all IT companies from the list

In [65]:
#Intento1
it_companies.clear()
print(it_companies)

[]

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [68]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
end = front_end + back_end
print(end)

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [70]:
#Intento 1
end[0][0]

'HTML'

22. From the end list print the 'C' from the word 'CSS'

In [71]:
end[0][1][0]

'C'

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [124]:
tup = ("T",)
tup

('T',)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [79]:
type(tup)

tuple

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [80]:
#intento1
tup = list(tup)
print(tup)
tup.insert("H", "E", " ", "B", "R", "I", "D", "G", "E",)
tup = tuple(tup)
print(tup)

TypeError: insert expected 2 arguments, got 9

In [88]:
#Intento 2 solo se puede añadir un valor a append
tup = list(tup)
print(tup)
tup.append("H","E", " ", "B", "R", "I", "D", "G", "E",)
tup

TypeError: list.append() takes exactly one argument (2 given)

In [125]:
#intento4 método para añadir valores a las tuplas sin necesidad de cambiar a lista. 
tup = tup + ("H", "E", " ", "B", "R", "I", "D", "G", "E",)
tup

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [128]:
#intento1
tup[0:10] = ("L","i","n","k","e","d","i","n")
tup

TypeError: 'tuple' object does not support item assignment

In [129]:
tup = list(tup)
print(tup)
tup[0:10] = ("L","i","n","k","e","d","i","n")
tup

['T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E']

['L', 'i', 'n', 'k', 'e', 'd', 'i', 'n']

In [132]:
#No se convierte de lista a tupla y lo he probado en otros ejemplos y si funciona. 
tup = tuple(tup)
print(tup)

TypeError: 'tuple' object is not callable

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [116]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]
print(lista_repes)

['data', 'data', 'data', 'science', 'science', 'python', 'python', 'diomedes', 'diomedes', 'diomedes', 'diomedes', 'clara', 'gabriel', 'gabriel', 'gabriel']

In [118]:
my_set = set(lista_repes)
my_set

{'clara', 'data', 'diomedes', 'gabriel', 'python', 'science'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [119]:
my_set[0]

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [120]:
#¿porque me cambia el orden de los factores al pasarlo a lista?
my_set = list(my_set)
my_set

['python', 'clara', 'diomedes', 'science', 'gabriel', 'data']

In [121]:
#ahora si puedo obtener el primer elemento, ¿en los conjuntos no funciona esa funcion? 
my_set[0]

'python'