In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [4]:
import missingno as msno

In [7]:
df = pd.read_csv("train_set.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'train_set.csv'

In [8]:
columns = pd.read_csv("columns_meaning.csv")
columns

FileNotFoundError: [Errno 2] No such file or directory: 'columns_meaning.csv'

In [16]:
data= df[["2", "3", "5", "6", "8", "9", "11", "12", "13", "15"]]
data

       2   3  5           6  8    9    11         12        13     15
0      a   6  2  gynecology  F  4.0   2.0     Urgent  Moderate  21-30
1      a   6  4  gynecology  F  2.0  15.0     Trauma  Moderate  51-60
2      c   5  2  anesthesia  F  3.0   5.0     Urgent  Moderate  71-80
3      f   9  3  gynecology  B  4.0   6.0  Emergency  Moderate  11-20
4      a   1  3  gynecology  E  2.0   8.0     Urgent  Moderate  51-60
...   ..  .. ..         ... ..  ...   ...        ...       ...    ...
99995  a   9  3  gynecology  B  3.0   3.0  Emergency  Moderate  51-60
99996  b  11  2  gynecology  F  2.0   5.0     Urgent  Moderate  21-30
99997  a   6  3  gynecology  F  3.0   2.0     Trauma     Minor  31-40
99998  f   9  2  gynecology  B  4.0  15.0     Trauma  Moderate  41-50
99999  e   1  3  gynecology  E  2.0   8.0  Emergency  Moderate  41-50

[100000 rows x 10 columns]

In [7]:
data.isna().sum().sort_values(ascending=False)

11    1483
9       33
15       0
13       0
12       0
8        0
6        0
5        0
3        0
2        0
dtype: int64

In [9]:
data["9"].value_counts()

2.0    38932
3.0    34548
4.0    18096
1.0     8391
Name: 9, dtype: int64

In [17]:
data = data.dropna()
data

       2   3  5           6  8    9    11         12        13     15
0      a   6  2  gynecology  F  4.0   2.0     Urgent  Moderate  21-30
1      a   6  4  gynecology  F  2.0  15.0     Trauma  Moderate  51-60
2      c   5  2  anesthesia  F  3.0   5.0     Urgent  Moderate  71-80
3      f   9  3  gynecology  B  4.0   6.0  Emergency  Moderate  11-20
4      a   1  3  gynecology  E  2.0   8.0     Urgent  Moderate  51-60
...   ..  .. ..         ... ..  ...   ...        ...       ...    ...
99995  a   9  3  gynecology  B  3.0   3.0  Emergency  Moderate  51-60
99996  b  11  2  gynecology  F  2.0   5.0     Urgent  Moderate  21-30
99997  a   6  3  gynecology  F  3.0   2.0     Trauma     Minor  31-40
99998  f   9  2  gynecology  B  4.0  15.0     Trauma  Moderate  41-50
99999  e   1  3  gynecology  E  2.0   8.0  Emergency  Moderate  41-50

[98484 rows x 10 columns]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98484 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2       98484 non-null  object
 1   3       98484 non-null  int64
 2   5       98484 non-null  int64
 3   6       98484 non-null  object
 4   8       98484 non-null  object
 5   9       98484 non-null  float64
 6   11      98484 non-null  float64
 7   12      98484 non-null  object
 8   13      98484 non-null  object
 9   15      98484 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 10.8+ MB

In [21]:
def label(dt= None, name_col=None):
    lb= preprocessing.LabelEncoder()
    label_transf= lb.fit_transform(dt[name_col])
    dt[name_col]= label_transf
    return dt

In [22]:
label(dt=data, name_col= "6")

       2   3  5  6  8    9    11         12        13     15
0      a   6  2  2  F  4.0   2.0     Urgent  Moderate  21-30
1      a   6  4  2  F  2.0  15.0     Trauma  Moderate  51-60
2      c   5  2  1  F  3.0   5.0     Urgent  Moderate  71-80
3      f   9  3  2  B  4.0   6.0  Emergency  Moderate  11-20
4      a   1  3  2  E  2.0   8.0     Urgent  Moderate  51-60
...   ..  .. .. .. ..  ...   ...        ...       ...    ...
99995  a   9  3  2  B  3.0   3.0  Emergency  Moderate  51-60
99996  b  11  2  2  F  2.0   5.0     Urgent  Moderate  21-30
99997  a   6  3  2  F  3.0   2.0     Trauma     Minor  31-40
99998  f   9  2  2  B  4.0  15.0     Trauma  Moderate  41-50
99999  e   1  3  2  E  2.0   8.0  Emergency  Moderate  41-50

[98484 rows x 10 columns]

In [23]:
label(dt=data, name_col= "8")
label(dt=data, name_col= "2")
label(dt=data, name_col= "12")
label(dt=data, name_col= "13")
label(dt=data, name_col= "15")

       2   3  5  6  8    9    11  12  13  15
0      0   6  2  2  5  4.0   2.0   2   2   2
1      0   6  4  2  5  2.0  15.0   1   2   5
2      2   5  2  1  5  3.0   5.0   2   2   7
3      5   9  3  2  1  4.0   6.0   0   2   1
4      0   1  3  2  4  2.0   8.0   2   2   5
...   ..  .. .. .. ..  ...   ...  ..  ..  ..
99995  0   9  3  2  1  3.0   3.0   0   2   5
99996  1  11  2  2  5  2.0   5.0   2   2   2
99997  0   6  3  2  5  3.0   2.0   1   1   3
99998  5   9  2  2  1  4.0  15.0   1   2   4
99999  4   1  3  2  4  2.0   8.0   0   2   4

[98484 rows x 10 columns]

In [24]:
dt= label(dt=data, name_col= "15")
dt

       2   3  5  6  8    9    11  12  13  15
0      0   6  2  2  5  4.0   2.0   2   2   2
1      0   6  4  2  5  2.0  15.0   1   2   5
2      2   5  2  1  5  3.0   5.0   2   2   7
3      5   9  3  2  1  4.0   6.0   0   2   1
4      0   1  3  2  4  2.0   8.0   2   2   5
...   ..  .. .. .. ..  ...   ...  ..  ..  ..
99995  0   9  3  2  1  3.0   3.0   0   2   5
99996  1  11  2  2  5  2.0   5.0   2   2   2
99997  0   6  3  2  5  3.0   2.0   1   1   3
99998  5   9  2  2  1  4.0  15.0   1   2   4
99999  4   1  3  2  4  2.0   8.0   0   2   4

[98484 rows x 10 columns]

In [29]:
df= df.dropna()

In [30]:
X = np.array(dt)
y = np.array(df['17'])
X.shape

(98484, 10)

In [31]:
y.shape

(98484,)

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [33]:
model = LogisticRegression()

In [34]:
model.fit(X_train, y_train)

LogisticRegression()

In [35]:
predictions = model.predict(X_test)

In [36]:
print(predictions)

['21-30' '21-30' '21-30' ... '51-60' '21-30' '11-20']

In [37]:
model.score(X_test,y_test)

0.29897954003147686

In [38]:
to_pred = pd.read_csv("test_set.csv")

In [40]:
pred= to_pred[["2", "3", "5", "6", "8", "9", "11", "12", "13", "15"]]
pred

        2   3  5                   6  8    9    11         12        13     15
0       a   7  4          gynecology  C  2.0   8.0  Emergency     Minor  41-50
1       c   5  3          gynecology  F  2.0  15.0     Trauma  Moderate  31-40
2       e   1  4          gynecology  E  4.0   4.0  Emergency     Minor  71-80
3       c   3  4  TB & Chest disease  A  2.0   9.0     Urgent   Extreme  31-40
4       a   6  4          gynecology  F  1.0   8.0  Emergency     Minor  21-30
...    ..  .. ..                 ... ..  ...   ...        ...       ...    ...
133739  d  13  6          anesthesia  B  3.0  25.0     Urgent     Minor  51-60
133740  a   7  2          gynecology  C  2.0   8.0  Emergency  Moderate  61-70
133741  c   3  3          gynecology  A  3.0   5.0     Trauma     Minor  31-40
133742  b  11  4          gynecology  F  2.0   2.0     Trauma   Extreme  31-40
133743  a   6  4  TB & Chest disease  F  2.0  12.0     Trauma  Moderate  51-60

[133744 rows x 10 columns]

In [43]:
label(dt=pred, name_col= "6")
label(dt=pred, name_col= "8")
label(dt=pred, name_col= "2")
label(dt=pred, name_col= "12")
label(dt=pred, name_col= "13")
label(dt=pred, name_col= "15")

        2   3  5  6  8    9    11  12  13  15
0       0   7  4  2  2  2.0   8.0   0   1   4
1       2   5  3  2  5  2.0  15.0   1   2   3
2       4   1  4  2  4  4.0   4.0   0   1   7
3       2   3  4  0  0  2.0   9.0   2   0   3
4       0   6  4  2  5  1.0   8.0   0   1   2
...    ..  .. .. .. ..  ...   ...  ..  ..  ..
133739  3  13  6  1  1  3.0  25.0   2   1   5
133740  0   7  2  2  2  2.0   8.0   0   2   6
133741  2   3  3  2  0  3.0   5.0   1   1   3
133742  1  11  4  2  5  2.0   2.0   1   0   3
133743  0   6  4  0  5  2.0  12.0   1   2   5

[133744 rows x 10 columns]

In [44]:
pred = pred.fillna(0)
pred

        2   3  5  6  8    9    11  12  13  15
0       0   7  4  2  2  2.0   8.0   0   1   4
1       2   5  3  2  5  2.0  15.0   1   2   3
2       4   1  4  2  4  4.0   4.0   0   1   7
3       2   3  4  0  0  2.0   9.0   2   0   3
4       0   6  4  2  5  1.0   8.0   0   1   2
...    ..  .. .. .. ..  ...   ...  ..  ..  ..
133739  3  13  6  1  1  3.0  25.0   2   1   5
133740  0   7  2  2  2  2.0   8.0   0   2   6
133741  2   3  3  2  0  3.0   5.0   1   1   3
133742  1  11  4  2  5  2.0   2.0   1   0   3
133743  0   6  4  0  5  2.0  12.0   1   2   5

[133744 rows x 10 columns]

In [45]:
predictions_submit = model.predict(pred)
predictions_submit

array(['21-30', '21-30', '11-20', ..., '11-20', '21-30', '21-30'],
      dtype=object)

In [50]:
x= np.array(pred)
x

array([[ 0.,  7.,  4., ...,  0.,  1.,  4.],
       [ 2.,  5.,  3., ...,  1.,  2.,  3.],
       [ 4.,  1.,  4., ...,  0.,  1.,  7.],
       ...,
       [ 2.,  3.,  3., ...,  1.,  1.,  3.],
       [ 1., 11.,  4., ...,  1.,  0.,  3.],
       [ 0.,  6.,  4., ...,  1.,  2.,  5.]])

In [51]:
model.score(x, predictions_submit)

1.0

In [46]:
predictions_submit.reshape(-1,1)

array([['21-30'],
       ['21-30'],
       ['11-20'],
       ...,
       ['11-20'],
       ['21-30'],
       ['21-30']], dtype=object)

In [48]:
submission = pd.DataFrame({"id": to_pred["0"], "days": predictions_submit})
submission

            id   days
0       314114  21-30
1       208989  21-30
2       305872  11-20
3       266099  21-30
4        13228  21-30
...        ...    ...
133739  318155  21-30
133740  144850  21-30
133741  180676  11-20
133742   39933  21-30
133743  116673  21-30

[133744 rows x 2 columns]

In [49]:
submission.to_csv("to_submit.csv", index = False)