In [1]:
from sklearn import preprocessing
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVR
from sklearn import svm
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import numpy as np
from sklearn import metrics
from sklearn.metrics import r2_score, mean_absolute_error

In [22]:
df = pd.read_csv("diamonds_train.csv")
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.21,Ideal,H,VS2,63.0,57.0,6.73,6.70,4.23,6134
1,1,0.28,Very Good,D,VVS2,64.0,56.0,4.14,4.17,2.66,532
2,2,0.42,Premium,F,VS1,61.2,58.0,4.86,4.82,2.96,1103
3,3,0.26,Ideal,H,IF,61.1,57.0,4.16,4.12,2.53,600
4,4,1.10,Good,G,SI1,63.4,57.0,6.52,6.55,4.14,4997
...,...,...,...,...,...,...,...,...,...,...,...
40340,40340,1.55,Premium,H,VS2,61.3,61.0,7.46,7.39,4.55,11708
40341,40341,0.36,Ideal,D,SI1,60.6,56.0,4.58,4.63,2.79,619
40342,40342,0.57,Very Good,I,VS2,62.2,55.0,5.33,5.34,3.32,1267
40343,40343,1.01,Very Good,F,IF,59.6,62.0,6.47,6.56,3.88,9965
40344,40344,0.54,Ideal,E,SI2,60.4,57.0,5.33,5.27,3.20,1340

In [3]:
df.color.value_counts()

G    8499
E    7351
F    7130
H    6234
D    5074
I    4023
J    2034
Name: color, dtype: int64

In [5]:
df.x.value_counts()

4.34    336
4.37    333
4.38    330
4.33    328
4.32    309
       ...
9.23      1
9.05      1
9.15      1
9.53      1
9.10      1
Name: x, Length: 538, dtype: int64

In [4]:
df.isna().sum().sort_values(ascending=False)

price         0
z             0
y             0
x             0
table         0
depth         0
clarity       0
color         0
cut           0
carat         0
Unnamed: 0    0
dtype: int64

In [6]:
df.clarity.value_counts()

SI1     9751
VS2     9178
SI2     6828
VS1     6101
VVS2    3858
VVS1    2714
IF      1362
I1       553
Name: clarity, dtype: int64

In [6]:
df= df.replace({"IF":1, "VVS1": 2, "VVS2":2, "VS1":3, "VS2":3, "SI1":4, "SI2":4, "I1":5})
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.21,Ideal,H,3,63.0,57.0,6.73,6.70,4.23,6134
1,1,0.28,Very Good,D,2,64.0,56.0,4.14,4.17,2.66,532
2,2,0.42,Premium,F,3,61.2,58.0,4.86,4.82,2.96,1103
3,3,0.26,Ideal,H,1,61.1,57.0,4.16,4.12,2.53,600
4,4,1.10,Good,G,4,63.4,57.0,6.52,6.55,4.14,4997
...,...,...,...,...,...,...,...,...,...,...,...
40340,40340,1.55,Premium,H,3,61.3,61.0,7.46,7.39,4.55,11708
40341,40341,0.36,Ideal,D,4,60.6,56.0,4.58,4.63,2.79,619
40342,40342,0.57,Very Good,I,3,62.2,55.0,5.33,5.34,3.32,1267
40343,40343,1.01,Very Good,F,1,59.6,62.0,6.47,6.56,3.88,9965
40344,40344,0.54,Ideal,E,4,60.4,57.0,5.33,5.27,3.20,1340

In [13]:
df.color.value_counts()

G    8499
E    7351
F    7130
H    6234
D    5074
I    4023
J    2034
Name: color, dtype: int64

In [7]:
df= df.replace({"D":1, "E": 1, "F":1, "G":0, "H":0, "I":0, "J":0})
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.21,Ideal,0,3,63.0,57.0,6.73,6.70,4.23,6134
1,1,0.28,Very Good,1,2,64.0,56.0,4.14,4.17,2.66,532
2,2,0.42,Premium,1,3,61.2,58.0,4.86,4.82,2.96,1103
3,3,0.26,Ideal,0,1,61.1,57.0,4.16,4.12,2.53,600
4,4,1.10,Good,0,4,63.4,57.0,6.52,6.55,4.14,4997
...,...,...,...,...,...,...,...,...,...,...,...
40340,40340,1.55,Premium,0,3,61.3,61.0,7.46,7.39,4.55,11708
40341,40341,0.36,Ideal,1,4,60.6,56.0,4.58,4.63,2.79,619
40342,40342,0.57,Very Good,0,3,62.2,55.0,5.33,5.34,3.32,1267
40343,40343,1.01,Very Good,1,1,59.6,62.0,6.47,6.56,3.88,9965
40344,40344,0.54,Ideal,1,4,60.4,57.0,5.33,5.27,3.20,1340

In [8]:
le = preprocessing.LabelEncoder()
df["cut"]= le.fit_transform(df["cut"])
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.21,2,0,3,63.0,57.0,6.73,6.70,4.23,6134
1,1,0.28,4,1,2,64.0,56.0,4.14,4.17,2.66,532
2,2,0.42,3,1,3,61.2,58.0,4.86,4.82,2.96,1103
3,3,0.26,2,0,1,61.1,57.0,4.16,4.12,2.53,600
4,4,1.10,1,0,4,63.4,57.0,6.52,6.55,4.14,4997
...,...,...,...,...,...,...,...,...,...,...,...
40340,40340,1.55,3,0,3,61.3,61.0,7.46,7.39,4.55,11708
40341,40341,0.36,2,1,4,60.6,56.0,4.58,4.63,2.79,619
40342,40342,0.57,4,0,3,62.2,55.0,5.33,5.34,3.32,1267
40343,40343,1.01,4,1,1,59.6,62.0,6.47,6.56,3.88,9965
40344,40344,0.54,2,1,4,60.4,57.0,5.33,5.27,3.20,1340

In [9]:
df.corr()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
Unnamed: 0,1.000000,0.005524,0.006349,0.003975,-0.006390,0.008138,-0.007051,0.003705,0.005897,0.005142,0.007212
carat,0.005524,1.000000,0.018551,-0.221556,0.330552,0.029414,0.181273,0.975077,0.944445,0.967289,0.921887
cut,0.006349,0.018551,1.000000,0.005240,0.000591,-0.195392,0.149833,0.023399,0.028351,0.002183,0.039499
color,0.003975,-0.221556,0.005240,1.000000,0.042123,-0.046010,-0.002403,-0.203951,-0.196860,-0.206305,-0.138111
clarity,-0.006390,0.330552,0.000591,0.042123,1.000000,0.076742,0.156615,0.350505,0.334947,0.352204,0.128487
depth,0.008138,0.029414,-0.195392,-0.046010,0.076742,1.000000,-0.288987,-0.023389,-0.027880,0.097399,-0.009228
table,-0.007051,0.181273,0.149833,-0.002403,0.156615,-0.288987,1.000000,0.193986,0.180449,0.153175,0.127338
x,0.003705,0.975077,0.023399,-0.203951,0.350505,-0.023389,0.193986,1.000000,0.966827,0.985080,0.883163
y,0.005897,0.944445,0.028351,-0.196860,0.334947,-0.027880,0.180449,0.966827,1.000000,0.959957,0.857564
z,0.005142,0.967289,0.002183,-0.206305,0.352204,0.097399,0.153175,0.985080,0.959957,1.000000,0.872855
price,0.007212,0.921887,0.039499,-0.138111,0.128487,-0.009228,0.127338,0.883163,0.857564,0.872855,1.000000

In [11]:
X = df[["carat","cut", "color", "clarity"]]
X.shape

(40345, 4)

In [10]:
y= df["price"]
y.shape

(40345,)

In [9]:
X = df.drop(columns=["Unnamed: 0", "price"])

In [55]:
X

       carat  cut  color  clarity  depth  table     x     y     z
0       1.21    2      0        3   63.0   57.0  6.73  6.70  4.23
1       0.28    4      1        2   64.0   56.0  4.14  4.17  2.66
2       0.42    3      1        3   61.2   58.0  4.86  4.82  2.96
3       0.26    2      0        1   61.1   57.0  4.16  4.12  2.53
4       1.10    1      0        4   63.4   57.0  6.52  6.55  4.14
...      ...  ...    ...      ...    ...    ...   ...   ...   ...
40340   1.55    3      0        3   61.3   61.0  7.46  7.39  4.55
40341   0.36    2      1        4   60.6   56.0  4.58  4.63  2.79
40342   0.57    4      0        3   62.2   55.0  5.33  5.34  3.32
40343   1.01    4      1        1   59.6   62.0  6.47  6.56  3.88
40344   0.54    2      1        4   60.4   57.0  5.33  5.27  3.20

[40345 rows x 9 columns]

In [33]:
#RandomForest
def rf(df,X, y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)
    model = RandomForestRegressor(n_estimators = 100, random_state = 40)
    train= model.fit(X_train ,y_train)
    y_pred = model.predict(X_test)
    print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [46]:
train= model.fit(X ,y)
y_pred = model.predict(X_test)

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)
X_train.shape

(32276, 4)

In [22]:
model = RandomForestRegressor(n_estimators = 100, random_state = 40)
train= model.fit(X_train, y_train)

In [27]:
model.score(X,y)

0.962869777521568

In [23]:
y_pred = model.predict(X_test)

In [28]:
model.score(X_train,y_train)

0.9663451202587049

In [29]:
model.score(X_test, y_test)

0.9483654391443944

In [26]:
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

RMSE: 889.7788664392008

In [57]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)
    #No linear regresion Polynomial
degree = range(2,11)
scores = []
for d in degree:
    print("#######","Grado:", d,"#########")
    polinominal_model = PolynomialFeatures(d) 
    X_poly = polinominal_model.fit_transform(X_train,y_train)

    #######
    print(X_poly.shape)

    lin_reg_model = LinearRegression()
    model =lin_reg_model.fit(X_poly, y_train)
    y_pred = lin_reg_model.predict(X_poly)

    print("y_pred", y_pred.shape)
    print("Score:", r2_score(y_train, y_pred))
    print('RMSE:', np.sqrt(metrics.mean_squared_error(y_train, y_pred)))

####### Grado: 2 #########
(32276, 55)
y_pred (32276,)
Score: 0.9436432607011177
RMSE: 948.9424840400802
####### Grado: 3 #########
(32276, 220)
y_pred (32276,)
Score: 0.9535639539990295
RMSE: 861.3795915709861
####### Grado: 4 #########
(32276, 715)
y_pred (32276,)
Score: 0.957265550417147
RMSE: 826.3347543275036
####### Grado: 5 #########
(32276, 2002)
y_pred (32276,)
Score: 0.9609638242806191
RMSE: 789.7699290481065
####### Grado: 6 #########
(32276, 5005)
y_pred (32276,)
Score: 0.9654932790101732
RMSE: 742.538211613215
####### Grado: 7 #########
(32276, 11440)

In [99]:
polinominal_model = PolynomialFeatures(10) 
X_poly = polinominal_model.fit_transform(X_train,y_train)
lin_reg_model = LinearRegression()
model =lin_reg_model.fit(X_poly, y_train)
y_pred = lin_reg_model.predict(X_poly)

In [24]:
#SVR
def svr_():
    X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)
    svr_rbf = SVR(kernel='rbf', C=100, gamma=0.1, epsilon=.1)
    svr_lin = SVR(kernel='linear', C=100, gamma='auto')
    svr_poly = SVR(kernel='poly', C=100, gamma='auto', degree=3, epsilon=.1, coef0=1)
    svrs = [svr_rbf, svr_lin, svr_poly]
    i=1
    for svr in svrs:
        print("###### Model:",i, svr, "####")
        model = svr.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        print("Score:", r2_score(y_test,y_pred))
        print("MAE:", mean_absolute_error(y_true=y_test, y_pred=y_pred))
        print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
        i+=1

In [25]:
svr_()

###### Model: 1 SVR(C=100, gamma=0.1) ####
Score: 0.9176037742183716
MAE: 632.0928935518857
RMSE: 1155.3134594250348
###### Model: 2 SVR(C=100, gamma='auto', kernel='linear') ####
Score: 0.8708984328934638
MAE: 842.9594371385091
RMSE: 1446.1452998995692
###### Model: 3 SVR(C=100, coef0=1, gamma='auto', kernel='poly') ####
Score: 0.9370092232154271
MAE: 558.5221839780792
RMSE: 1010.1471791694009

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X_normalized, y,test_size=0.2)
svr_rbf = SVR(kernel='rbf', C=100, gamma=0.1, epsilon=.1)
model = svr_rbf.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [21]:
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
model.score(X_train, y_train)

RMSE: 1808.3570789197167

0.7988736126065201

In [29]:
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
svr_rbf.fit(X,y)

SVR(C=100, gamma=0.1)

In [30]:
y_pred = model.predict(to_pred)

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [25]:
scaler = MinMaxScaler() #Normaliza los datos de 0 a 1
scaler.fit(df["cut"])
X_normalized = scaler.transform(df["cut"])
X_normalized

ValueError: could not convert string to float: 'Ideal'

In [27]:
le = preprocessing.LabelEncoder()
cut= le.fit_transform(df["cut"])
df["cut"]= cut

In [28]:
le = preprocessing.LabelEncoder()
color= le.fit_transform(df["color"])
df["color"]= color

In [29]:
le = preprocessing.LabelEncoder()
clarity= le.fit_transform(df["color"])
df["clarity"]= clarity

In [31]:
df.corr()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
Unnamed: 0,1.000000,0.005524,0.006349,-0.000942,-0.000942,0.008138,-0.007051,0.003705,0.005897,0.005142,0.007212
carat,0.005524,1.000000,0.018551,0.285737,0.285737,0.029414,0.181273,0.975077,0.944445,0.967289,0.921887
cut,0.006349,0.018551,1.000000,-0.000943,-0.000943,-0.195392,0.149833,0.023399,0.028351,0.002183,0.039499
color,-0.000942,0.285737,-0.000943,1.000000,1.000000,0.048637,0.022557,0.263915,0.255262,0.266589,0.166340
clarity,-0.000942,0.285737,-0.000943,1.000000,1.000000,0.048637,0.022557,0.263915,0.255262,0.266589,0.166340
depth,0.008138,0.029414,-0.195392,0.048637,0.048637,1.000000,-0.288987,-0.023389,-0.027880,0.097399,-0.009228
table,-0.007051,0.181273,0.149833,0.022557,0.022557,-0.288987,1.000000,0.193986,0.180449,0.153175,0.127338
x,0.003705,0.975077,0.023399,0.263915,0.263915,-0.023389,0.193986,1.000000,0.966827,0.985080,0.883163
y,0.005897,0.944445,0.028351,0.255262,0.255262,-0.027880,0.180449,0.966827,1.000000,0.959957,0.857564
z,0.005142,0.967289,0.002183,0.266589,0.266589,0.097399,0.153175,0.985080,0.959957,1.000000,0.872855
price,0.007212,0.921887,0.039499,0.166340,0.166340,-0.009228,0.127338,0.883163,0.857564,0.872855,1.000000

In [36]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
pipe = Pipeline(steps=[('Regression', RandomForestRegressor())])
random_forest_params = {
    'Regression': [RandomForestRegressor()],
    'Regression__n_estimators': [10, 100, 1000],
    'Regression__max_features': [1, 2, 3]
    }

In [37]:
cv = RepeatedKFold(n_splits=10, n_repeats=1, random_state=1)
# Create grid search 
clf = GridSearchCV(estimator=pipe, param_grid=random_forest_params, cv=cv, verbose=0, n_jobs=-1)

# Fit grid search
best_model = clf.fit(X_train, y_train)
# View best model
separator = "\n############################\n"
print(separator)
print("best estimator:", best_model.best_estimator_.get_params()['Regression'])
print(separator)
print("clf.best_params_", clf.best_params_)
print(separator)
# Mean cross-validated score of the best_estimator
print("clf.best_score", clf.best_score_)
#print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

############################

best estimator: RandomForestRegressor(max_features=3, n_estimators=1000)

############################

clf.best_params_ {'Regression': RandomForestRegressor(max_features=3, n_estimators=1000), 'Regression__max_features': 3, 'Regression__n_estimators': 1000}

############################

clf.best_score 0.9534917615477332

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)
model = RandomForestRegressor(max_features=3, n_estimators=1000)
train= model.fit(X_train ,y_train)
y_pred = model.predict(X_test)
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

RMSE: 877.0069716541301

In [41]:
model.fit(X,y)

RandomForestRegressor(max_features=3, n_estimators=1000)

In [43]:
X

       carat  cut  color  clarity  depth  table    x    y    z
0       1.21    2      0        3   63.0   57.0  7.0  7.0  4.0
1       0.28    4      1        2   64.0   56.0  4.0  4.0  3.0
2       0.42    3      1        3   61.2   58.0  5.0  5.0  3.0
3       0.26    2      0        1   61.1   57.0  4.0  4.0  3.0
4       1.10    1      0        4   63.4   57.0  7.0  7.0  4.0
...      ...  ...    ...      ...    ...    ...  ...  ...  ...
40340   1.55    3      0        3   61.3   61.0  7.0  7.0  5.0
40341   0.36    2      1        4   60.6   56.0  5.0  5.0  3.0
40342   0.57    4      0        3   62.2   55.0  5.0  5.0  3.0
40343   1.01    4      1        1   59.6   62.0  6.0  7.0  4.0
40344   0.54    2      1        4   60.4   57.0  5.0  5.0  3.0

[40345 rows x 9 columns]

In [44]:
le = preprocessing.LabelEncoder()
cut= le.fit_transform(to_pred["cut"])
to_pred["cut"]= cut

In [45]:
le = preprocessing.LabelEncoder()
cut= le.fit_transform(to_pred["color"])
to_pred["color"]= cut

In [46]:
le = preprocessing.LabelEncoder()
cut= le.fit_transform(to_pred["clarity"])
to_pred["clarity"]= cut

In [48]:
to_pred = to_pred.drop(columns="Unnamed: 0")
to_pred

       carat  cut  color  clarity  depth  table     x     y     z
0       0.30    2      4        3   60.0   56.0  4.41  4.43  2.65
1       0.34    2      0        1   62.1   57.0  4.52  4.46  2.79
2       1.57    4      5        5   60.3   58.0  7.58  7.55  4.56
3       0.31    2      4        5   61.8   57.0  4.32  4.36  2.68
4       1.51    1      5        6   64.0   60.0  7.26  7.21  4.63
...      ...  ...    ...      ...    ...    ...   ...   ...   ...
13444   1.05    2      2        3   60.3   55.0  6.55  6.68  3.99
13445   0.27    4      3        4   61.9   56.0  4.13  4.16  2.56
13446   1.50    3      0        5   61.8   60.0  7.30  7.37  4.53
13447   1.70    3      2        3   60.2   61.0  7.79  7.68  4.66
13448   0.30    2      0        5   61.2   57.0  4.29  4.34  2.64

[13449 rows x 9 columns]

In [51]:
pred = model.predict(to_pred)

In [53]:
submission5 = pd.DataFrame({"id": submission5.index,"price": pred})
submission5

          id         price
0          0    691.146681
1          1   1012.320225
2          2   7477.687167
3          3    513.557445
4          4   5941.304200
...      ...           ...
13444  13444   7432.508083
13445  13445    488.996000
13446  13446   4796.738848
13447  13447  16247.067500
13448  13448    455.884700

[13449 rows x 2 columns]

In [54]:
submission5.to_csv("to_submit5.csv", index = False)

In [11]:
X["x"]= round(X["x"])
X["y"]= round(X["y"])
X["z"]= round(X["z"])

Predictions

In [42]:
to_pred = pd.read_csv("diamonds_test.csv")
to_pred

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z
0,0,0.30,Ideal,H,SI2,60.0,56.0,4.41,4.43,2.65
1,1,0.34,Ideal,D,IF,62.1,57.0,4.52,4.46,2.79
2,2,1.57,Very Good,I,VS2,60.3,58.0,7.58,7.55,4.56
3,3,0.31,Ideal,H,VS2,61.8,57.0,4.32,4.36,2.68
4,4,1.51,Good,I,VVS1,64.0,60.0,7.26,7.21,4.63
...,...,...,...,...,...,...,...,...,...,...
13444,13444,1.05,Ideal,F,SI2,60.3,55.0,6.55,6.68,3.99
13445,13445,0.27,Very Good,G,VS1,61.9,56.0,4.13,4.16,2.56
13446,13446,1.50,Premium,D,VS2,61.8,60.0,7.30,7.37,4.53
13447,13447,1.70,Premium,F,SI2,60.2,61.0,7.79,7.68,4.66
13448,13448,0.30,Ideal,D,VS2,61.2,57.0,4.29,4.34,2.64

In [48]:
to_pred= to_pred.replace({"IF":1, "VVS1": 2, "VVS2":2, "VS1":3, "VS2":3, "SI1":4, "SI2":4, "I1":5})
to_pred= to_pred.replace({"D":1, "E": 1, "F":1, "G":0, "H":0, "I":0, "J":0})
to_pred["cut"]= le.fit_transform(to_pred["cut"])
to_pred

       Unnamed: 0  carat  cut  color  clarity  depth  table     x     y     z
0               0   0.30    2      0        4   60.0   56.0  4.41  4.43  2.65
1               1   0.34    2      1        1   62.1   57.0  4.52  4.46  2.79
2               2   1.57    4      0        3   60.3   58.0  7.58  7.55  4.56
3               3   0.31    2      0        3   61.8   57.0  4.32  4.36  2.68
4               4   1.51    1      0        2   64.0   60.0  7.26  7.21  4.63
...           ...    ...  ...    ...      ...    ...    ...   ...   ...   ...
13444       13444   1.05    2      1        4   60.3   55.0  6.55  6.68  3.99
13445       13445   0.27    4      0        3   61.9   56.0  4.13  4.16  2.56
13446       13446   1.50    3      1        3   61.8   60.0  7.30  7.37  4.53
13447       13447   1.70    3      1        4   60.2   61.0  7.79  7.68  4.66
13448       13448   0.30    2      1        3   61.2   57.0  4.29  4.34  2.64

[13449 rows x 10 columns]

In [17]:
to_pred = to_pred[["carat","cut", "color", "clarity"]]
to_pred

       carat  cut  color  clarity
0       0.30    2      0        4
1       0.34    2      1        1
2       1.57    4      0        3
3       0.31    2      0        3
4       1.51    1      0        2
...      ...  ...    ...      ...
13444   1.05    2      1        4
13445   0.27    4      0        3
13446   1.50    3      1        3
13447   1.70    3      1        4
13448   0.30    2      1        3

[13449 rows x 4 columns]

In [47]:
pred= model.predict(to_pred)
pred

In [40]:
to_pred.shape

(13449, 4)

In [92]:
to_pred.shape

(13449, 4)

In [50]:
to_pred4 = to_pred.drop(columns=["Unnamed: 0"])
to_pred4

       carat  cut  color  clarity  depth  table     x     y     z
0       0.30    2      0        4   60.0   56.0  4.41  4.43  2.65
1       0.34    2      1        1   62.1   57.0  4.52  4.46  2.79
2       1.57    4      0        3   60.3   58.0  7.58  7.55  4.56
3       0.31    2      0        3   61.8   57.0  4.32  4.36  2.68
4       1.51    1      0        2   64.0   60.0  7.26  7.21  4.63
...      ...  ...    ...      ...    ...    ...   ...   ...   ...
13444   1.05    2      1        4   60.3   55.0  6.55  6.68  3.99
13445   0.27    4      0        3   61.9   56.0  4.13  4.16  2.56
13446   1.50    3      1        3   61.8   60.0  7.30  7.37  4.53
13447   1.70    3      1        4   60.2   61.0  7.79  7.68  4.66
13448   0.30    2      1        3   61.2   57.0  4.29  4.34  2.64

[13449 rows x 9 columns]

In [51]:
y_pred = model.predict(to_pred4)

In [35]:
submission = pd.DataFrame({"id": submission.index,"price": pred})
submission

NameError: name 'submission' is not defined

In [65]:
submission.to_csv("to_submit.csv", index = False)

In [97]:
X_poly.reshape(-1,1).shape

(32308276, 1)

In [105]:
X_test_poly = polinominal_model.fit_transform(to_pred)

y_test_pred = lin_reg_model.predict(X_test_poly)
y_test_pred

array([  480.72372794,  1169.12397912, 11093.30851978, ...,
       14604.26848071, 12531.85831046,   707.4451546 ])

In [32]:
submission2 = pd.DataFrame({"id": submission2.index,"price": y_test_pred})

NameError: name 'submission2' is not defined

In [110]:
submission2.to_csv("to_submit2.csv", index = False)

In [37]:
to_pred

       carat  cut  color  clarity
0       0.30    2      0        4
1       0.34    2      1        1
2       1.57    4      0        3
3       0.31    2      0        3
4       1.51    1      0        2
...      ...  ...    ...      ...
13444   1.05    2      1        4
13445   0.27    4      0        3
13446   1.50    3      1        3
13447   1.70    3      1        4
13448   0.30    2      1        3

[13449 rows x 4 columns]

In [39]:
submission3 = pd.DataFrame({"id": submission3.index,"price": y_pred})
submission3

          id         price
0          0    394.406006
1          1   1267.476117
2          2  10273.116046
3          3    492.405790
4          4  10053.851846
...      ...           ...
13444  13444   5182.892008
13445  13445    277.318015
13446  13446  11707.394736
13447  13447  11321.899047
13448  13448    539.678285

[13449 rows x 2 columns]

In [40]:
submission3.to_csv("to_submit3.csv", index = False)

In [52]:
submission4 = pd.DataFrame({"id": submission3.index,"price": y_pred})
submission4

          id         price
0          0    438.620000
1          1   1467.490000
2          2  10564.990000
3          3    573.523333
4          4  11163.470000
...      ...           ...
13444  13444   5640.210000
13445  13445    429.016667
13446  13446  14769.600000
13447  13447  12235.310000
13448  13448    644.461667

[13449 rows x 2 columns]

In [53]:
submission4.to_csv("to_submit4.csv", index = False)