### 1. 

En el archivo "logistic_regression_df_class" hemos visto un ejemplo multiclase. Realiza un análisis con regresión linear multinominal teniendo como target la columna "duración". Es decir, averigua cuánto aumentan o disminuyen la duración cuando se aumenta una unidad los valores de las demás columnas.

- ¿Qué acierto tiene? (score)
- ¿Cuál es el RMSE? ¿Dirías que es un valor alto?
- Viendo la matriz de correlación, ¿tienen coherencia los resultados de la regresión?
- ¿Es la regresión un buen método para este dataset?

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
dataframe = pd.read_csv("../data/usuarios_win_mac_lin.csv")
dataframe.head()

   duracion  paginas  acciones  valor  clase
0       7.0        2         4      8      2
1      21.0        2         6      6      2
2      57.0        2         4      4      2
3     101.0        3         6     12      2
4     109.0        2         6     12      2

In [50]:
dataframe["duracion"].mean()

111.0757294117647

In [3]:
y= np.array(dataframe["duracion"])
y.shape

(170,)

In [4]:
X = np.array(dataframe[["paginas","acciones", "valor", "clase"]])
X.shape

(170, 4)

In [5]:
X= X + 1
X

array([[  3,   5,   9,   3],
       [  3,   7,   7,   3],
       [  3,   5,   5,   3],
       [  4,   7,  13,   3],
       [  3,   7,  13,   3],
       [  6,  11,  21,   3],
       [  3,   3,   5,   3],
       [  3,   7,  13,   3],
       [  3,   5,   9,   3],
       [  3,   7,   7,   3],
       [  3,   7,  13,   3],
       [  5,  13,  25,   3],
       [  5,  13,  25,   3],
       [  6,  16,  16,   3],
       [  3,   7,   7,   3],
       [  3,   5,   9,   3],
       [  6,   6,   6,   3],
       [  3,   5,  13,   2],
       [  3,   9,  49,   2],
       [  3,   9,  33,   2],
       [  3,   7,  19,   2],
       [  3,  13,  97,   2],
       [  3,  11,  31,   2],
       [  3,   5,  21,   2],
       [  3,  11,  31,   2],
       [  4,  10,  55,   2],
       [  7,  13,  97,   2],
       [  3,  13,  49,   2],
       [  3,   5,  13,   2],
       [  5,  25, 145,   2],
       [  3,   5,  17,   2],
       [  4,   7,  31,   2],
       [  3,   7,  31,   2],
       [  3,   7,  25,   2],
       [  4,  19,  55,   2],
       [  3,   3,   3,   3],
       [  2,   2,   2,   3],
       [  6,  16,  16,   3],
       [  3,   3,   3,   3],
       [  7,   7,   7,   3],
       [  3,  11,  41,   2],
       [  3,   7,  31,   2],
       [  3,   5,  21,   2],
       [  4,  19, 145,   2],
       [  3,   7,  19,   2],
       [  3,   5,  29,   2],
       [  4,  19,  73,   2],
       [  3,   9,  65,   2],
       [  3,   7,  19,   2],
       [  3,  19,  37,   1],
       [  3,  21, 121,   1],
       [  2,   8,  29,   1],
       [  3,  19,  55,   1],
       [  3,  21,  41,   1],
       [  3,  13,  37,   1],
       [  4,  22,  64,   1],
       [  3,   7,  25,   1],
       [  3,  19,  55,   1],
       [  2,   6,  16,   1],
       [ 10,  64, 379,   1],
       [  3,   3,   7,   1],
       [  4,  28, 163,   1],
       [  4,  10,  37,   1],
       [  3,   3,   7,   1],
       [  3,  17,  65,   1],
       [  6,  41, 241,   1],
       [  3,  15,  29,   1],
       [  3,   3,  13,   1],
       [  3,  13,  61,   1],
       [  5,   9,  25,   1],
       [  3,  19,  55,   1],
       [  2,   8,  29,   1],
       [  4,  13,  25,   1],
       [  3,  11,  31,   1],
       [  4,  31,  61,   1],
       [  5,  29, 169,   1],
       [  3,   3,  13,   1],
       [  5,  21,  81,   1],
       [  5,  13,  25,   1],
       [  5,  17,  49,   1],
       [  5,  29,  57,   1],
       [  7,  31,  91,   1],
       [  5,  33, 161,   1],
       [  7,  25,  73,   1],
       [ 10,  19,  37,   1],
       [  8,  57, 113,   1],
       [  3,   3,   5,   1],
       [  3,   3,  13,   1],
       [  3,   7,  19,   1],
       [  6,  26, 101,   1],
       [  3,  21,  61,   1],
       [  3,  17,  65,   1],
       [  3,   3,  13,   1],
       [  6,  21,  81,   1],
       [  2,   7,  25,   1],
       [  2,   4,   7,   3],
       [  2,   3,  17,   2],
       [  2,   3,   5,   3],
       [  2,   7,  49,   2],
       [  2,   5,  13,   2],
       [  2,   7,  25,   2],
       [  2,   6,  36,   2],
       [  2,   7,  37,   2],
       [  2,   6,  21,   2],
       [  2,   4,  13,   2],
       [  2,   4,  19,   2],
       [  2,   7,  25,   2],
       [  2,   7,  19,   2],
       [  2,   7,  25,   2],
       [  2,   6,  41,   2],
       [  2,   3,   3,   3],
       [  2,   4,   4,   3],
       [  2,   2,   2,   3],
       [  2,   3,   3,   3],
       [  2,   4,   7,   3],
       [  2,   4,   7,   3],
       [  2,   3,   5,   3],
       [  2,   3,   5,   3],
       [  2,   4,   4,   3],
       [  2,   4,   4,   3],
       [  2,   4,   7,   3],
       [  2,   4,   7,   3],
       [  2,   3,   3,   3],
       [  2,   4,   4,   3],
       [  2,   4,   4,   3],
       [  2,   3,   5,   3],
       [  2,   2,   2,   3],
       [  2,   4,   4,   3],
       [  2,   2,   2,   3],
       [  2,   2,   3,   3],
       [  2,   9,  49,   1],
       [  2,   8,  36,   1],
       [  2,   5,  17,   1],
       [  2,   5,  13,   1],
       [  2,  11,  31,   1],
       [  2,  11,  21,   1],
       [  2,   9,  17,   1],
       [  2,   8,  43,   1],
       [  2,   3,   9,   1],
       [  2,   8,  29,   1],
       [  2,   3,  11,   1],
       [  2,   3,  13,   1],
       [  2,   9,  33,   1],
       [  2,   3,   7,   1],
       [  2,   9,  25,   1],
       [  2,   2,   4,   1],
       [  2,   9,  25,   1],
       [  2,   6,  16,   1],
       [  2,   6,  26,   1],
       [  2,   3,   7,   1],
       [  2,   4,  13,   1],
       [  2,   4,   7,   1],
       [  2,  10,  28,   1],
       [  2,   9,  41,   1],
       [  2,   4,  19,   1],
       [  2,   2,   3,   1],
       [  2,   2,   5,   1],
       [  2,   6,  16,   1],
       [  2,   9,  25,   1],
       [  2,   5,  25,   1],
       [  2,   4,  16,   1],
       [  2,   7,  31,   1],
       [  2,   5,  25,   1],
       [  2,   8,  36,   1],
       [  2,   5,   9,   1],
       [  2,   8,  43,   1],
       [  2,   3,   7,   1],
       [  2,   4,  10,   1],
       [  2,   8,  29,   1],
       [  2,   7,  19,   1]], dtype=int64)

In [6]:
model = linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

In [35]:
model.score(X,y) * 100

10.198661828479649

In [7]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)

In [8]:
model.fit(X_train, y_train)

LinearRegression()

In [9]:
predictions = model.predict(X_test)
predictions

array([ 93.94918607, 217.34803474,  96.44703882,  46.58648382,
        48.9591368 ,  70.48983805,  48.6070544 , 130.52955694,
       124.2076866 ,  91.75257429, 251.75442985, 123.15143941,
        93.59710368, 188.06166402,  43.60939626,  73.59993178,
        47.73465482, 121.43991621,  61.66035591, 105.43499668,
       188.06166402,  68.46926747, 104.0246168 , 123.15143941,
       270.88125245,  80.62596692,  66.54062069,  42.37710787,
        42.46903168,  42.37710787, 235.79332857, 124.2076866 ,
        41.06070208,  65.16556706])

In [12]:
acierto= model.score(X_train, y_train)* 100
error = 1- acierto
print("Error:", error)
print("Acierto:", acierto)

Error: -6.055391535804034
Acierto: 7.055391535804034

In [13]:
model.score(X_test, y_test)* 100

1.9545433150877978

In [14]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 161.9534745367496
MSE: 68197.26715128975
RMSE: 261.14606478231633

In [15]:
dataframe.corr()

          duracion   paginas  acciones     valor     clase
duracion  1.000000  0.277550  0.163028  0.090869  0.128706
paginas   0.277550  1.000000  0.724061  0.583910 -0.052813
acciones  0.163028  0.724061  1.000000  0.862961 -0.329954
valor     0.090869  0.583910  0.862961  1.000000 -0.322737
clase     0.128706 -0.052813 -0.329954 -0.322737  1.000000