### 1. 

En el archivo "logistic_regression_df_class" hemos visto un ejemplo multiclase. Realiza un análisis con regresión linear multinominal teniendo como target la columna "duración". Es decir, averigua cuánto aumentan o disminuyen la duración cuando se aumenta una unidad los valores de las demás columnas.

- ¿Qué acierto tiene? (score)
- ¿Cuál es el RMSE? ¿Dirías que es un valor alto?
- Viendo la matriz de correlación, ¿tienen coherencia los resultados de la regresión?
- ¿Es la regresión un buen método para este dataset?

In [45]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
dataframe = pd.read_csv("../data/usuarios_win_mac_lin.csv")
dataframe.head()

   duracion  paginas  acciones  valor  clase
0       7.0        2         4      8      2
1      21.0        2         6      6      2
2      57.0        2         4      4      2
3     101.0        3         6     12      2
4     109.0        2         6     12      2

In [50]:
dataframe["duracion"].mean()

111.0757294117647

In [23]:
y= np.array(dataframe["duracion"])
y.shape

(170,)

In [27]:
X = np.array(dataframe[["paginas","acciones", "valor", "clase"]])
X.shape

(170, 4)

In [28]:
X= X + 1

In [31]:
model = linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

In [39]:
predictions = model.predict(X)
predictions

array([137.97658558, 129.3544114 , 136.34201283, 170.41470669,
       131.80627052, 235.29094892, 144.14690064, 131.80627052,
       137.97658558, 129.3544114 , 131.80627052, 190.51219768,
       190.51219768, 213.73551347, 129.3544114 , 137.97658558,
       248.67352064, 115.81197734, 114.91335643, 108.37506545,
       110.45894865, 118.91845375,  99.75289127, 119.08112283,
        99.75289127, 152.07120781, 273.35219844,  99.30358082,
       115.81197734, 168.9208722 , 117.44655008, 153.97110306,
       115.36266688, 112.91080777, 116.94921269, 143.32961426,
       108.21497881, 213.73551347, 143.32961426, 283.78815609,
       103.83932313, 115.36266688, 119.08112283, 153.72709944,
       110.45894865, 122.35026832, 124.30479004, 121.4516474 ,
       110.45894865,  47.18601819,  73.70715801,  48.23531945,
        54.54159554,  41.01570313,  70.6006816 ,  85.12048868,
        89.11162678,  54.54159554,  50.72784584, 281.59106543,
        97.36582504, 102.16150068, 120.91644948,  97.36582504,
        66.4329152 , 160.52077081,  59.52664831,  99.81768416,
        80.40811807, 158.52361133,  54.54159554,  48.23531945,
       104.30539954,  75.95371029,  48.772564  , 139.31935207,
        99.81768416, 134.57830292, 142.91383572, 137.11149657,
        93.55131523, 176.8571681 , 120.44043097, 192.91625417,
       317.4450714 , 122.99221291,  96.54853867,  99.81768416,
        86.65976767, 161.8473833 ,  49.18856685,  66.4329152 ,
        99.81768416, 173.18673909,  50.50319061, 102.45330693,
        86.64300171, 105.53846446,  84.10980806,  77.20354116,
        74.30237159,  82.69989054,  79.20608983,  76.57024275,
        81.10598507,  83.55784418,  74.30237159,  71.85051248,
        74.30237159,  84.74310647, 104.72117809, 101.22737737,
       108.21497881, 104.72117809, 102.45330693, 102.45330693,
       105.53846446, 105.53846446, 101.22737737, 101.22737737,
       102.45330693, 102.45330693, 104.72117809, 101.22737737,
       101.22737737, 105.53846446, 108.21497881, 101.22737737,
       108.21497881, 108.62362199,  52.50573927,  51.09582175,
        55.03893293,  53.40436018,  37.34527412,  33.25884226,
        39.42915732,  53.95632406,  59.57467524,  48.23531945,
        60.39196162,  61.20924799,  45.96744829,  58.75738887,
        42.69830281,  61.43390322,  42.69830281,  50.72784584,
        54.8142777 ,  58.75738887,  57.30680408,  54.85494497,
        40.02178846,  49.23659378,  59.7586632 ,  61.02526003,
        61.8425464 ,  50.72784584,  42.69830281,  58.30807842,
        58.53273364,  52.95504973,  58.30807842,  51.09582175,
        51.76978744,  53.95632406,  58.75738887,  56.08087453,
        48.23531945,  48.05133149])

In [35]:
model.score(X,y) * 100

10.198661828479649

In [37]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)

In [38]:
model.fit(X_train, y_train)

LinearRegression()

In [40]:
predictions = model.predict(X_test)
predictions

array([153.72709944,  37.34527412,  96.54853867, 105.53846446,
       143.32961426, 120.91644948,  59.52664831, 119.08112283,
       170.41470669,  53.40436018, 153.97110306,  48.772564  ,
       213.73551347, 116.94921269,  58.75738887,  99.75289127,
       104.72117809,  45.96744829,  48.05133149,  54.54159554,
       142.91383572,  99.81768416,  84.74310647, 110.45894865,
       235.29094892, 190.51219768, 105.53846446, 131.80627052,
       129.3544114 ,  89.11162678,  33.25884226,  54.8142777 ,
        73.70715801, 115.36266688])

In [42]:
model.score(X_train, y_train)* 100

6.862230799476555

In [43]:
model.score(X_test, y_test)* 100

6.358983567854626

In [46]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 136.08622102898258
MSE: 46306.37696262184
RMSE: 215.1891655326119

In [48]:
r2= metrics.r2_score(y_test, predictions)
r2

0.06358983567854626

In [51]:
dataframe.corr()

          duracion   paginas  acciones     valor     clase
duracion  1.000000  0.277550  0.163028  0.090869  0.128706
paginas   0.277550  1.000000  0.724061  0.583910 -0.052813
acciones  0.163028  0.724061  1.000000  0.862961 -0.329954
valor     0.090869  0.583910  0.862961  1.000000 -0.322737
clase     0.128706 -0.052813 -0.329954 -0.322737  1.000000