### 1. Se pide:

A partir del archivo "USA_Housing.csv", realizar la regresión no lineal entre cada columna numérica con la columna 'price' utilizando:

- Regresión polinómica no lineal con grados del 2 al 10. ¿El score se estanca a partir de cierto grado?
- SVR

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn import svm
from sklearn.svm import SVR
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_absolute_error
import numpy as np

In [31]:
df = pd.read_csv("../data/USA_Housing.csv")
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,USNS Williams\nFPO AP 30153-7653
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,USS Wallace\nFPO AE 73316
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."

In [32]:
def model_polymonial(df,col_name, target_name):
    X_train, X_test, y_train, y_test = train_test_split(df[col_name].values, df[target_name].values,test_size=0.2)
    #No linear regresion Polynomial
    degree = range(2,11)
    scores = []
    for d in degree:
        print("#######","Grado:", d,"#########")
        polinominal_model = PolynomialFeatures(d) 
        X_poly = polinominal_model.fit_transform(X_train.reshape(-1,1),y_train)

        #######
        print(X_poly.shape)

        lin_reg_model = LinearRegression()
        lin_reg_model.fit(X_poly, y_train)
        y_pred = lin_reg_model.predict(X_poly)

        print("y_pred", y_pred.shape)
        print("Score:", r2_score(y_train, y_pred))
        print("MAE:", mean_absolute_error(y_true=y_train, y_pred=y_pred))

In [33]:
model_polymonial(df=df,col_name="Avg. Area Income", target_name="Price")

####### Grado: 2 #########
(4000, 3)
y_pred (4000,)
Score: 0.4074157434491732
MAE: 215606.77590573556
####### Grado: 3 #########
(4000, 4)
y_pred (4000,)
Score: 0.4074549961790186
MAE: 215637.05668479545
####### Grado: 4 #########
(4000, 5)
y_pred (4000,)
Score: 0.40751239224986247
MAE: 215609.52492266215
####### Grado: 5 #########
(4000, 6)
y_pred (4000,)
Score: 0.4074964405948003
MAE: 215597.75855295
####### Grado: 6 #########
(4000, 7)
y_pred (4000,)
Score: 0.4072113799588546
MAE: 215640.64309011365
####### Grado: 7 #########
(4000, 8)
y_pred (4000,)
Score: 0.40634651566404534
MAE: 215789.14538729482
####### Grado: 8 #########
(4000, 9)
y_pred (4000,)
Score: 0.40451663231992196
MAE: 216086.41853351166
####### Grado: 9 #########
(4000, 10)
y_pred (4000,)
Score: 0.40136182357562156
MAE: 216613.8744608993
####### Grado: 10 #########
(4000, 11)
y_pred (4000,)
Score: 0.3966235939364313
MAE: 217384.71411227412

In [34]:
model_polymonial(df=df,col_name="Avg. Area House Age", target_name="Price")

####### Grado: 2 #########
(4000, 3)
y_pred (4000,)
Score: 0.21042101855874273
MAE: 249165.89078174793
####### Grado: 3 #########
(4000, 4)
y_pred (4000,)
Score: 0.2107378603376242
MAE: 249192.2007561278
####### Grado: 4 #########
(4000, 5)
y_pred (4000,)
Score: 0.21073810669640425
MAE: 249191.34225391477
####### Grado: 5 #########
(4000, 6)
y_pred (4000,)
Score: 0.21109454869661004
MAE: 249075.82261185616
####### Grado: 6 #########
(4000, 7)
y_pred (4000,)
Score: 0.21143455692798274
MAE: 248961.49020963078
####### Grado: 7 #########
(4000, 8)
y_pred (4000,)
Score: 0.2126678736722184
MAE: 248565.7031324641
####### Grado: 8 #########
(4000, 9)
y_pred (4000,)
Score: 0.21276894381032851
MAE: 248553.89838115554
####### Grado: 9 #########
(4000, 10)
y_pred (4000,)
Score: 0.21342522218413273
MAE: 248378.21630495056
####### Grado: 10 #########
(4000, 11)
y_pred (4000,)
Score: 0.21361939575327016
MAE: 248398.00130915883

In [35]:
model_polymonial(df=df,col_name="Avg. Area Number of Rooms", target_name="Price")

####### Grado: 2 #########
(4000, 3)
y_pred (4000,)
Score: 0.1196506116933087
MAE: 263709.98926936986
####### Grado: 3 #########
(4000, 4)
y_pred (4000,)
Score: 0.11989451087676306
MAE: 263654.4504468908
####### Grado: 4 #########
(4000, 5)
y_pred (4000,)
Score: 0.12048524277853179
MAE: 263549.1700748651
####### Grado: 5 #########
(4000, 6)
y_pred (4000,)
Score: 0.12048525140175681
MAE: 263549.02128853265
####### Grado: 6 #########
(4000, 7)
y_pred (4000,)
Score: 0.12064331231596137
MAE: 263505.3302236521
####### Grado: 7 #########
(4000, 8)
y_pred (4000,)
Score: 0.12064353089394297
MAE: 263504.71684966126
####### Grado: 8 #########
(4000, 9)
y_pred (4000,)
Score: 0.1212910588821623
MAE: 263375.68226125464
####### Grado: 9 #########
(4000, 10)
y_pred (4000,)
Score: 0.12238784037122141
MAE: 263147.9534597643
####### Grado: 10 #########
(4000, 11)
y_pred (4000,)
Score: 0.12248339638995509
MAE: 263193.1233317292

In [36]:
model_polymonial(df=df,col_name="Avg. Area Number of Bedrooms", target_name="Price")

####### Grado: 2 #########
(4000, 3)
y_pred (4000,)
Score: 0.02931855641522052
MAE: 278389.5346210657
####### Grado: 3 #########
(4000, 4)
y_pred (4000,)
Score: 0.0301876860476894
MAE: 278178.27305166307
####### Grado: 4 #########
(4000, 5)
y_pred (4000,)
Score: 0.03353636726758491
MAE: 277593.2813604681
####### Grado: 5 #########
(4000, 6)
y_pred (4000,)
Score: 0.033641241626953144
MAE: 277624.086757329
####### Grado: 6 #########
(4000, 7)
y_pred (4000,)
Score: 0.03650683909356722
MAE: 277194.56504479295
####### Grado: 7 #########
(4000, 8)
y_pred (4000,)
Score: 0.03653965226073619
MAE: 277184.2544075645
####### Grado: 8 #########
(4000, 9)
y_pred (4000,)
Score: 0.036548758969910944
MAE: 277187.3812105882
####### Grado: 9 #########
(4000, 10)
y_pred (4000,)
Score: 0.03676060806431025
MAE: 277127.28407356166
####### Grado: 10 #########
(4000, 11)
y_pred (4000,)
Score: 0.036814788154991285
MAE: 277137.3913766904

In [37]:
model_polymonial(df=df,col_name="Area Population", target_name="Price")

####### Grado: 2 #########
(4000, 3)
y_pred (4000,)
Score: 0.16198681990620944
MAE: 256551.65006292827
####### Grado: 3 #########
(4000, 4)
y_pred (4000,)
Score: 0.1620015400740461
MAE: 256558.70701562602
####### Grado: 4 #########
(4000, 5)
y_pred (4000,)
Score: 0.1619646385371113
MAE: 256547.96363163102
####### Grado: 5 #########
(4000, 6)
y_pred (4000,)
Score: 0.1611935027223932
MAE: 256697.1081617223
####### Grado: 6 #########
(4000, 7)
y_pred (4000,)
Score: 0.15925208626265663
MAE: 257026.74336936563
####### Grado: 7 #########
(4000, 8)
y_pred (4000,)
Score: 0.1559580339347243
MAE: 257605.68659003676
####### Grado: 8 #########
(4000, 9)
y_pred (4000,)
Score: 0.15130869395117008
MAE: 258365.05993714047
####### Grado: 9 #########
(4000, 10)
y_pred (4000,)
Score: 0.14544209828599286
MAE: 259215.81850901124
####### Grado: 10 #########
(4000, 11)
y_pred (4000,)
Score: 0.1385872814179192
MAE: 260166.8315963914

SVR

In [38]:
def svr_(df,col_name, target_name):
    X_train, X_test, y_train, y_test = train_test_split(df[col_name].values, df[target_name].values,test_size=0.2)
    svr_rbf = SVR(kernel='rbf', C=100, gamma=0.1, epsilon=.1)
    svr_lin = SVR(kernel='linear', C=100, gamma='auto')
    svr_poly = SVR(kernel='poly', C=100, gamma='auto', degree=3, epsilon=.1, coef0=1)
    svrs = [svr_rbf, svr_lin, svr_poly]
    i=1
    for svr in svrs:
        print("###### Model:",i, svr, "####")
        model = svr.fit(X_train.reshape(-1,1), y_train)
        y_pred = model.predict(X_test.reshape(-1,1))
        print("Score:", r2_score(y_test.reshape(-1,1),y_pred))
        print("MAE:", mean_absolute_error(y_true=y_test, y_pred=y_pred))
        i+=1

In [39]:
X_train, X_test, y_train, y_test = train_test_split(df["Avg. Area Income"].values, df["Price"].values,test_size=0.2)
svr_poly = SVR(kernel='poly', C=100, gamma='auto', degree=3, epsilon=.1, coef0=1)
model = svr_poly.fit(X_train.reshape(-1,1), y_train)
y_pred = model.predict(X_test.reshape(-1,1))

In [ ]:
model.score(y_test.reshape(-1,1),y_pred)

In [7]:
svr_(df=df,col_name="Avg. Area Income", target_name="Price")

###### Model: 1 SVR(C=100, gamma=0.1) ####
Score: -0.0004503470291010725
MAE: 281737.15255353024
###### Model: 2 SVR(C=100, gamma='auto', kernel='linear') ####
Score: 0.3873650013386457
MAE: 221511.3239689044

In [8]:
svr_(df=df,col_name="Avg. Area House Age", target_name="Price")

###### Model: 1 SVR(C=100, gamma=0.1) ####
Score: 0.03757091238549004
MAE: 282478.4120324138
###### Model: 2 SVR(C=100, gamma='auto', kernel='linear') ####
Score: 0.14843222496625275
MAE: 265131.22353847255

In [ ]:
svr_(df=df,col_name="Avg. Area Number of Rooms", target_name="Price")

In [ ]:
svr_(df=df,col_name="Avg. Area Number of Bedrooms", target_name="Price")

In [ ]:
svr_(df=df,col_name="Area Population", target_name="Price")

### 2. Se pide:

En el anterior dataset, la columna "Avg. Area Number of Bedrooms" está en un rango numérico limitado:

1. Cambia todos los datos para que sean enteros redondeando hacia el entero más cercano. Si es .5 exacto, se redondea hacia abajo.

2. Cuando lo hayas hecho, tendrás una columna con números enteros en un rango limitado. Ahora trata a esa columna como una serie de valores discretos (classes, labels). 

3. Usando las demás columnas numéricas y una a una, utiliza SVM (SVC) para clasificar esa columna modificada.

4. Usando todas las demás columnas a la vez, utiliza SVM para clasificar esa columna modificada. Es decir, "Avg. Area Income" con nuestro target, después "Avg. Area House Age", ... ¿hace aumentar el score? ¿por qué? 

5. ¿Qué columna tiene mejor correlación con "Avg. Area Number of Bedrooms" una vez modificada? ¿qué columna da mejor score para nuestro target? 

-------------------------- 

ACLARACIÓN del apartado 2 del ejercicio 2:

- El punto 3, se espera que tu X sea una sola columna e y también, 'Avg. Area Number of Bedrooms'.

- El punto 4, espera que tu X sean todas las columnas que cumplen con las características especificadas e y la columna 'Avg. Area Number of Bedrooms'

In [19]:
def svc_(df,col_name, target_name):
    df[target_name]= round(df[target_name])
    X_train, X_test, y_train, y_test = train_test_split(df[col_name].values, df[target_name].values,test_size=0.2)
    model = svm.SVC(C=100, kernel='rbf', gamma=10)
    train= model.fit(X_train.reshape(-1,1), y_train)
    print('Score train:', model.score(X_train.reshape(-1,1), y_train))
    y_pred = model.predict(X_test.reshape(-1,1))
    print("Score predict:", r2_score(y_test,y_pred))
    print("MAE:", mean_absolute_error(y_true=y_test, y_pred=y_pred))

Score train: 0.99925
Score predict: -0.47165845675135065
MAE: 1.108

In [ ]:
svc_(df=df, col_name="Avg. Area Income",target_name="Avg. Area Number of Bedrooms")

In [21]:
svc_(df=df, col_name="Avg. Area House Age",target_name="Avg. Area Number of Bedrooms")

Score train: 0.3325
Score predict: -0.2595412865613218
MAE: 1.068

In [22]:
svc_(df=df, col_name="Avg. Area Number of Rooms",target_name="Avg. Area Number of Bedrooms")

Score train: 0.33725
Score predict: -0.4052448080825526
MAE: 1.107

In [23]:
svc_(df=df, col_name="Area Population",target_name="Avg. Area Number of Bedrooms")

Score train: 0.99775
Score predict: -0.1284661775778848
MAE: 1.026

In [24]:
svc_(df=df, col_name="Price",target_name="Avg. Area Number of Bedrooms")

Score train: 1.0
Score predict: -0.07231833249894248
MAE: 1.018

In [28]:
def svc_(df,col_name, target_name):
    df[target_name]= round(df[target_name])
    X_train, X_test, y_train, y_test = train_test_split(df[col_name], df[target_name].values,test_size=0.2)
    model = svm.SVC(C=100, kernel='rbf', gamma=10)
    train= model.fit(X_train, y_train)
    print('Score train:', model.score(X_train, y_train))
    y_pred = model.predict(X_test)
    print("Score predict:", r2_score(y_test,y_pred))
    print("MAE:", mean_absolute_error(y_true=y_test, y_pred=y_pred))

In [29]:
svc_(df=df, col_name= ["Price","Avg. Area Number of Rooms","Avg. Area House Age","Avg. Area Income","Area Population"],target_name="Avg. Area Number of Bedrooms")

Score train: 1.0
Score predict: -0.4377542014407825
MAE: 1.153

In [ ]:
1+1